{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <br />
    <center><h1>Inscription</h1>
    <br /><br />
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <br />
        {{ form_row(registrationForm.agreeTerms) }}
        <br />
        <button type="submit" class="btn btn-outline-primary">S'inscrire</button></center>
    {{ form_end(registrationForm) }}
{% endblock %}
