{% extends 'base.html.twig' %}

{% block title %}Magasin index{% endblock %}

{% block body %}
    <h1>Magasin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>CodePostal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('magasin_new') }}">Créér</a>
        <br /> <br />
        {% endif %}
        {% for magasin in magasins %}
            <tr>
                <td><center>{{ magasin.id }}</center></td>
                <td><center>{{ magasin.nom }}</center></td>
                <td><center>{{ magasin.description }}</center></td>
                <td><center>{{ magasin.codePostal }}</center></td>
                
                <td>
                    <a href="{{ path('magasin_show', {'id': magasin.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('magasin_edit', {'id': magasin.id}) }}">Modifier les informations</a>
                    <td>{{ include('magasin/_delete_form.html.twig') }}</td>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun magasin trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
