{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <br />
    <center><h1>Liste des Magasins</h1></center>
    <br /><br/>
<form action="{{ path('magasin_index') }}" method="get">
        <center><input type="text" name="recherche" placeholder="Code Postal" />
        <button type="submit" class="btn btn-outline-primary">Rechercher</button>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('magasin_new') }}"><button type="button" class="btn btn-outline-primary">Créer Magasin</button></a></center>
        {% endif %}
        </center>

        
        <br><br><br />
    <table class="table table-hover table-secondary">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <br /> <br />
        {% endif %}
        {% for magasin in magasins %}
            <tr>
                <td><center>{{ magasin.id }}</center></td>
                <td><center>{{ magasin.nom }}</center></td>
                <td><center>{{ magasin.description }}</center></td>
                <td><center>{{ magasin.codePostal }}</center></td>

                <td>
                    <a href="{{ path('magasin_show', {'id': magasin.id}) }}"><input type="button" value="Voir" class="btn btn-outline-primary"></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('magasin_edit', {'id': magasin.id}) }}"><input type="button" value="Modifier les informations" class="btn btn-primary"></a>
                    <td>{{ include('magasin/_delete_form.html.twig') }}</td>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun magasin trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}
