{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <center><h1>Magasin</h1></center>
<form action="{{ path('magasin_index') }}" method="get">
        <center><input type="text" name="recherche" placeholder="Nom" />
        <input type="submit" value="Recherche">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('magasin_new') }}"><button type="button" class="btn btn-primary">Créer Magasin</button></a></center>
        {% endif %}
        </center>
        <br><br><br />
    <table class="table">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
        <br /> <br />
        {% endif %}
        {% for magasin in magasins %}
            <tr>
                <td><center>{{ magasin.id }}</center></td>
                <td><center>{{ magasin.nom }}</center></td>
                <td><center>{{ magasin.description }}</center></td>
                <td><center>{{ magasin.codePostal }}</center></td>

                <td>
                    <a href="{{ path('magasin_show', {'id': magasin.id}) }}"><input type="button" value="Voir"></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('magasin_edit', {'id': magasin.id}) }}"><input type="button" value="Modifier les informations"></a>
                    <td>{{ include('magasin/_delete_form.html.twig') }}</td>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun magasin trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}
