{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <br />
    <center><h1>{{ magasin.nom }}</h1>
    <br />
    {{ magasin.description }}
    <br />
    {{ magasin.codePostal }}
    </center>
    <br />
    <center>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('article_index') }}"><input type="button" value="Gestion Produits" class="btn btn-primary"></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('stock_index') }}"><input type="button" value="Gestion des stocks" class="btn btn-primary"></a>
    {% endif %}
    <a href="{{ path('magasin_index') }}"><button type="button" class="btn btn-outline-primary">Retour</button></a></center>
    <br /><br />
    <table class="table table-hover table-secondary">
    <tbody>
        {% for p in stock %}
                <tr>
                    <td><center>{{ p.idArticle.idTypeArticle.libelle }}</center></td>
                    <td><center>{{ p.idArticle.idTypeArticle.description }}</center></td>
                     <td><center>{{ p.quantite > 0 ? 'En stock' : 'Plus disponible' }}</center></td>
                    <td><center>{{ p.idArticle.prix }}</center></td>
                    <td><center>{{ p.quantite }}</center></td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('stock_edit', {'id': p.idArticle.id}) }}"><input type="button" value="Modifier stock" class="btn btn-outline-primary"></a></td>
                    {% endif %}
                    {% if app.user is not null %}
                    <td {{ p.quantite > 0 ? '' : 'style="display:none"' }}>
                    <a href="{{ path('magasin_show', {'id': magasin.id, 'produit': p.idArticle.id}) }}"><input type="button" value="Ajouter au panier" class="btn btn-primary"></a>
                    </td>
                    {% endif %}                 
                </tr>
            {% endfor %}
    </tbody>
    </table>

    <br />
    

{% endblock %}
