{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <center><h1>Magasin</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ magasin.nom }}</td>
            </tr>
            <tr>
                <td>{{ magasin.description }}</td>
            </tr>
            <tr>
                <td>{{ magasin.codePostal }}</td>
            </tr>
        </tbody>
    </table>
    </center>
    <br />
    <center><a href="{{ path('article_new') }}"><input type="button" value="Ajouter Produit"></a>
    <a href="{{ path('stock_index') }}"><input type="button" value="Gestion des stocks"></a>
    <a href="{{ path('magasin_index') }}"><input type="button" value="Retour"></a></center>
    <br /><br />
    <table class="table">
    <tbody>
        {% for p in stock %}
                <tr>
                    <td><center>{{ p.idArticle.idTypeArticle.libelle }}</center></td>
                    <td><center>{{ p.idArticle.idTypeArticle.description }}</center></td>
                     <td><center>{{ p.quantite > 0 ? 'En stock' : 'Plus disponible' }}</center></td>
                    <td><center>{{ p.idArticle.prix }}</center></td>
                    <td><center>{{ p.quantite }}</center></td>
                    <td><a href="{{ path('stock_edit', {'id': p.idArticle.id}) }}"><input type="button" value="Modifier stock"></a></td>
                    <td {{ p.quantite > 0 ? '' : 'style="display:none"' }}>
                    <a href="{{ path('magasin_show', {'id': magasin.id, 'produit': p.id}) }}"><input type="button" value="Ajouter au panier"></a>
                    </td>                 
                </tr>
            {% endfor %}
    </tbody>
    </table>

    <br />
    

{% endblock %}
