{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <center><h1>Message index</h1>
    <br />
    <a href="{{ path('message_new') }}"><input type="button" value="Créer message"></a></center>
    <br /><br />
    <table class="table">
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.titre }}</td>
                <td>{{ message.contenu }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun message trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    
{% endblock %}
