{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <center><h1>Liste des stocks</h1>
    <br /><br />
    <a href="{{ path('stock_new') }}"><input type="button" value="Ajout d'un nouveau stock"></a>
    <a href="{{ path('magasin_index') }}"><input type="button" value="Retour"></a></center>
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Magasin</th>
                <th>Quantite</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td><center>{{ stock.getIdArticle() }}</center></td>
                <td><center>{{ stock.getIdMagasin() }}</center></td>
                <td><center>{{ stock.quantite }}</center></td>
                <td>
                    <center><a href="{{ path('stock_edit', {'id': stock.id}) }}"><input type="button" value="Modifier stock"></a></center>
                </td>
                <td><center>{{ include('stock/_delete_form.html.twig') }}</center></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun stock disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
{% endblock %}
