{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<br />
    <center><h1>Liste des Articles</h1>
    <br />
    <form action="{{ path('article_index') }}" method="get">
        <input type="text" name="recherche" placeholder="Nom" />
        <input type="submit" value="Recherche" class="btn btn-outline-primary">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_new') }}"><input type="button" value="Créer Article" class="btn btn-primary"></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('type_article_new') }}"><input type="button" value="Créer Type Article" class="btn btn-primary"></a>
        {% endif %}
        <a href="{{ path('magasin_index') }}"><input type="button" value="Retour" class="btn btn-outline-primary"></a></center>
        <br><br><br />
        <table class="table table-hover table-secondary">
            <tbody>
            {% for article in articles %}
                <tbody>

                {% for s in article.stocks %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.getIdTypeArticle() }}
                    <td>{{ article.prix }}</td>
                    <td>{{ s.quantite > 0 ? 'En stock' : 'Indisponible' }}</td>
                    <td>{{ s.idMagasin.nom }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('article_edit', {'id': article.id}) }}"><input type="button" value="Modifier" class="btn btn-outline-primary"></a>
                    </td>
                    <td>{{ include('article/_delete_form.html.twig') }}</td>
                    {% endif %}
                    
                </tr>

                {% endfor %}
                </tbody>
            {% endfor %}
            </tbody>
        </table>
        
        <br /><br/>
    </form>
{% endblock %}